.align.center { text-align: center !important; }
.align.right { text-align: right !important; }
.cell { display: table-cell; }
.cursor.pointer { cursor: pointer; }
.display.none { display: none; }
.finder { padding-bottom: 10px; }
.float.right { float: right; }
.h100 { height: 100%; }
.margin.auto { margin-left: auto; margin-right: auto; width: auto; }
.max.w400 { max-width: 400px; }
.max.w600 { max-width: 600px; }
.max.w800 { max-width: 800px; }
.max.w1000 { max-width: 1000px; }
.no.border { border: none; border-radius: 0px; box-shadow: none; background-color: transparent !important; }
.no.margin { margin-bottom: 0 !important; margin-left: 0 !important; margin-right: 0 !important; margin-top: 0 !important; }
.no.padding { padding: 0 !important; }
.no.radius-top{ border-top-left-radius: 0 !important; border-top-right-radius: 0 !important; }
.padding { padding: 10px; }
.page.header { border-bottom: 1px solid #ddd; margin-left: -10px; margin-right: -10px; padding: 10px; }
.table { display: table; }
.table.hover tbody tr:hover { background-color: #eee !important; }
.table.hover tbody tr { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.table.padding .cell { padding: 5px; }
.vertical.align.middle { vertical-align: middle; }
.w100 { width: 100%; }

/* semantic ui classes **************************************************/
.ui.form .ui.label, .grid-list .ui.label { font-size: 14px; font-weight: bold; margin-top: auto; }
.grid, .row, .column { margin: 0 !important; }
.popup.attached { margin: 0px !important; }



/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}/**/
	.resize.on.extra-large .row > .column { display: block !important; width: 100% !important; }
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}/**/
	.resize.on.large .row > .column { display: block !important; width: 100% !important; }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}/**/
	.resize.on.medium .row > .column { display: block !important; width: 100% !important; }
}
/* Portrait tablets and small desktops */
@media (max-width: 991px) {
	/*body { border: 2px solid cyan;}/**/
	.resize.on.small .row > .column { display: block !important; width: 100% !important; }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}/**/
	.resize.on.extra-small .row > .column { display: block !important; width: 100% !important; }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}/**/
	.resize.on.super-small .row > .column { display: block !important; width: 100% !important; }
}