* { margin: 0; padding: 0; }
body { color: #333; }

aside { border-right: 1px solid #ddd; bottom: 40px; left: 0; margin-left: -230px; padding: 5px; overflow: auto; position: fixed; top: 40px; width: 230px}
aside.show { background-color: #eee; margin-left: 0px; }
aside { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
aside .menu { width: 100% !important; }

footer { background-color: #eee; border-top: 1px solid #ddd; bottom: 0; height: 40px; position: fixed; width: 100%; }
footer * { color: #aaa; }

header { background-color: #eee; border-bottom: 1px solid #ddd; height: 40px; position: fixed; top: 0; width: 100%; z-index: 1000; }

main { padding: 40px 10px 50px 10px; }
main.margined { margin-left: 230px; }
main { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }

header nav { width: 100%; height: 100%; }
header nav.menu { border-radius: 0px !important; border-top: 0px !important; height: 100%; }
header nav .item { border-radius: 0px !important; }
header nav .active { border-top: 2px solid #333; }

table th { text-align: left; }