<!doctype html>
<html ng-app="app">
<head>
	<title>Red Frame 2.0</title>

	<meta charset="UTF-8" />
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link rel="stylesheet" type="text/css" href="libs/semantic-ui/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/classes.css">
	<link rel="stylesheet" type="text/css" href="css/themes.css">

</head>
<body ng-controller="appController" class="{{themeClass}}">

	<header ng-include="layout.header" scope="" onload=""></header>
	<aside ng-class="{'show': flagSideBar || flagSideBarVisible}" ng-include="layout.aside" scope="" onload="semanticHeader()"></aside>
	<main ng-class="{'margined': flagSideBar || flagSideBarVisible}">
		<div ui-view></div>
	</main>
	<footer align="center" ng-include="layout.footer" scope="" onload=""></footer>
	
	<script type="text/javascript" src="libs/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="libs/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="libs/ui-router/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="libs/oc-lazyload/ocLazyLoad.min.js"></script>
	<script type="text/javascript" src="libs/semantic-ui/semantic.min.js"></script>
	<script type="text/javascript" src="js/fnc.js"></script>
	<script type="text/javascript" src="js/states.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/semantic.js"></script>
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</body>
</html>