<div ng-controller="applicationController" ng-init>
	
	<page-header
		icon="protect"
		header="Angular RedFrame 2.0"
		sub-header="Framework para desarrollo de aplicaciones web">
	</page-header>


	<h3 ng-hide="showForm">Listado de elementos</h3>
	<div ng-hide="showForm">
		<div class="ui top attached menu">
			<div class="item w100">
				<div class="ui transparent left icon input">
					<i class="search link icon"></i>
					<input type="text" ng-model="filtro" placeholder="Buscar elementos...">
				</div>
			</div>
			<div class="right menu">
				<a class="icon item">
					<i class="print icon"></i>
				</a>
				<a ng-click="agregar()" class="icon item" data-content="Agregar con modal" popup data-variation="inverted">
					<i class="plus icon"></i>
				</a>
				<a ng-click="showForm = !showForm;" class="icon item" data-content="Agregar" popup data-variation="inverted">
					<i class="plus icon"></i>
				</a>
			</div>
		</div>
		<table class="ui selectable celled table bottom attached">
			<thead>
				<th>Tipo</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Telefono</th>
				<th width="43px"></th>
			</thead>
			<tbody>
				<tr ng-repeat="elemento in elementos | filter: filtro">
					<td>{{elemento.nombreTipo}}</td>
					<td>{{elemento.nombre}}</td>
					<td>{{elemento.correo}}</td>
					<td>{{elemento.telefono}}</td>
					<td class="align center" style="padding: 0px 6px;">
						<div class="ui secondary menu no margin">
						<div class="ui right dropdown icon button item no margin" dropdown>
							<i class="ellipsis vertical icon"></i>
							<div class="menu">
								<div class="item icon">
									<i class="edit icon"></i>Editar
								</div>
								<div ng-click="detalle(elemento)" class="item icon">
									<i class="unhide icon"></i>Detalle
								</div>
								<div class="divider"></div>
								<div class="item icon">
									<i class="trash icon"></i>Eliminar
								</div>
							</div>
						</div>
						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

	<form name="formElemento" class="ui form segment margin auto max w400" ng-show="showForm">
		<div class="ui top attached label">Agregar nuevo elemento</div>

		<div class="field">
			<label>Tipo</label>
			<select ng-model="elemento.tipo" dropdown-select data="tipos" track-by="id" label="nombre" placeholder="Seleccione Tipo..."></select>
		</div>

		<div class="field">
			<label>Nombre</label>
			<input type="text" ng-model="elemento.nombre">
		</div>

		<div class="field">
			<label>Alias</label>
			<input type="text">
		</div>

		<div class="field">
			<label>Correo</label>
			<input type="email">
		</div>

		<div class="field">
			<label>Etiquetas</label>
			<select ng-model="elemento.etiquetas" dropdown-select data="etiquetas" track-by="id" label="nombre" placeholder="Seleccione Tipo..." multiple></select>
		</div>

		<div class="field align right">
			<div ng-click="showForm = !showForm" class="ui button small">Cancelar</div>
			<button class="ui small button positive">Agregar</button>
		</div>
	</form>

	<form modal="modalAgregar" class="ui form">
		<i class="close icon"></i>
		<div class="header">
			Agregar nuevo elemento
		</div>
		<div class="content">
			<div class="field">
				<label>Tipo</label>
				<select ng-model="elemento.tipo" dropdown-select data="tipos" track-by="id" label="nombre" ></select>
			</div>
			<div class="field">
				<label>Nombre</label>
				<input type="text" ng-model="elemento.nombre">
			</div>
			<div class="field">
				<label>Alias</label>
				<input type="text">
			</div>
			<div class="field align right">
				
			</div>
		</div>
		<div class="actions">
			<div ng-click="api.modal.close('#modalAgregar');" class="ui button small">Cancelar</div>
			<button class="ui small button positive">Agregar</button>
		</div>
	</form>

	<div modal="modalDetalle" class="small">
		<i class="close icon"></i>
		<div class="header">
			Detalle del elemento
		</div>
		<div class="content">
			<h3>{{elementoDetalle.nombre}}</h3>
			<label>Telefono</label>
			{{elementoDetalle.telefono}}
		</div>
		<div class="actions">
			<button class="ui button" ng-click="api.modal.close('#modalDetalle')">OK</button>
		</div>
	</div>

</div>