<div class="ui vertical menu">
	<div class="item">
		<div class="header">Catalogos</div>
		<div class="menu">
			<a class="item" href="#/paises">Piases</a>
			<a class="item">Ciudades</a>
		</div>
	</div>
</div>