<div class="table w100 h100">
	<div class="cell align center vertical middle">
		<a onclick="window.open('http://redrabbit.mx');" class="cursor pointer">
			<img src="img/redrabbit-footer.png" alt="" height="15px">
		</a>
	</div>
</div>