<nav class="ui menu">
	<!-- <div class="ui menu"> -->
		<a ng-click="showSideBar()" class="item" ng-hide="flagSideBarVisible">
			<i class="icon no margin" ng-class="{'sidebar': !flagSideBar, 'remove': flagSideBar}"></i>
		</a>
		<a class="item">
			Red Frame 2.0
		</a>
		<div class="right menu">
			<a class="item popup" data-position="bottom right">
				<i class="options icon no margin"></i>
			</a>
			<div class="ui popup basic attached no radius-top padding">
				<div class="ui vertical menu no border" style="width: auto;">
					<div class="item">
						<div class="ui checkbox">
							<input type="checkbox" ng-model="flagSideBarVisible" ng-change="setSideBarVisible(flagSideBarVisible)" id="flag-sidebar-visible" class="hidden">
							<label for="flag-sidebar-visible">Mantener menu lateral visible</label>
						</div>
					</div>
					<div class="item">
						<div class="header">Temas</div>
						<div class="menu">
							<div class="item">
								<div class="ui checkbox radio">
									<input type="radio" name="theme" id="theme-clasic" class="hidden" checked="true" ng-click="setTheme('')">
									<label for="theme-clasic">Default</label>
								</div>
							</div>
							<div class="item">
								<div class="ui checkbox radio">
									<input type="radio" name="theme" id="theme-redrabbit" class="hidden" ng-click="setTheme('redrabbit')">
									<label for="theme-redrabbit">RedRabbit</label>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<a class="item popup" data-position="bottom right">
				<i class="world icon no margin"></i>
			</a>
			<div class="ui popup basic attached no radius-top">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="flagSideBarVisible" ng-change="setSideBarVisible(flagSideBarVisible)" id="flag-sidebar-visible" class="hidden">
					<label for="flag-sidebar-visible">Mantener menu lateral visible</label>
				</div>
			</div>

			<a class="item popup" data-position="bottom right">
				<i class="inbox icon no margin"></i>
			</a>
			<div class="ui popup basic attached no radius-top">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="flagSideBarVisible" ng-change="setSideBarVisible(flagSideBarVisible)" id="flag-sidebar-visible" class="hidden">
					<label for="flag-sidebar-visible">Mantener menu lateral visible</label>
				</div>
			</div>

			<a class="item popup" data-position="bottom right">
				<i class="user icon no margin"></i>
			</a>
			<div class="ui popup basic attached no radius-top padding">
				<div class="ui card no border">
					<div class="content">
						<div class="header">Nestor Vanz</div>
						<div class="meta">nverduzco@redrabbit.mx</div>
					</div>
					<div class="content" align="right">
						<button class="ui button">
							Mi perfil
						</button>
						<button class="ui button negative icon">
							<i class="sign out icon"></i>
							Salir
						</button>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</nav>